.bg-container{
    background-color: black;
    background-size: cover;
    height: 100vh;
    margin:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
}

.timer{
    color:#ffffff;
    font-size: 80px;
    font-weight: 900;
}

.restart{
    background-color: yellow;
}

.stop {
    background-color: red;
}


.start{
    background-color: green;
}

.buttons{
    color:rgb(6, 6, 6);
    cursor: pointer;
    margin: 10px;
    box-sizing: border-box;
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.button-container{
    display: flex;
    justify-content: space-between;
}

.stopWatchHeader{
    color:rgb(28, 62, 217);
    font-size: 100px;
}